@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: #fda215;
  --clr-secondary: #172838;
  --clr-gray: #dfe6ed;
  --clr-light: #fcfcfc;
  --primary-font: "Poppins", sans-serif;
  --transition: all 0.3s ease-in-out;
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-secondary);
  background-color: var(--clr-secondary);
}
.container {
  flex-grow: 1;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.grid {
  display: grid;
  gap: 10px;
}
.grid * {
  padding: 5px;
  border-radius: 50%;
  aspect-ratio: 1;
}

.col-4 {
  grid-template-columns: repeat(4, 50px);
}
.col-6 {
  grid-template-columns: repeat(6, 50px);
}
.col-8 {
  grid-template-columns: repeat(8, 50px);
}

.footer {
  display: flex;
}
.footer span {
  flex: 1;
  padding: 10px;
  background-color: gray;
  color: white;
}
.footer span.active {
  background-color: yellow;
}

.details {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.item {
  background-color: rgba(0 0 0 / 30%);
  border-radius: 10px;
  padding: 10px 15px;
}
.item.winner {
  background-color: turquoise;
}

.disabled {
  pointer-events: none;
}
.hide {
  display: none;
}
button.active {
  background-color: black;
  color: white;
}
button.match {
  background-color: green;
  color: white;
}

.game_wrapper {
  padding: 30px;
  border-radius: 10px;
  background-color: var(--clr-light);
}

.option-form strong {
  display: block;
  margin-bottom: 10px;
}
.option-form input {
  display: none;
}
.option-form label span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  padding: 10px 15px;
  font-weight: 600;
  background-color: var(--clr-gray);
  color: var(--clr-secondary);
  transition: var(--transition);
}
.option-form label input:checked + span,
.option-form label span:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
}
.option-form .group {
  display: flex;
  gap: 10px;
}
.option-form .group > * {
  flex: 1;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 10px 30px;
  border-radius: 100px;
  transition: var(--transition);
  font-weight: 600;
  font-size: 0.9rem;
}
.btn-primary {
  color: var(--clr-light);
  background-color: var(--clr-primary);
}
.btn-primary:hover,
.btn-light:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
}
.btn-light {
  background-color: var(--clr-gray);
  color: var(--clr-secondary);
}
.btn-submit {
  margin-top: 30px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.grid button {
  --_bg: var(--clr-secondary);
  border: none;
  color: var(--clr-light);
  font-weight: 600;
  font-size: 1.125rem;
  background-color: var(--_bg);
}
.grid button.active {
  --_bg: var(--clr-primary);
}
.grid button.match {
  --_bg: var(--clr-gray);
  color: var(--clr-secondary);
}
